@import "../../scss/variable";

.navbar {
  background-color: $cardNavBgColor;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  .link {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    a {
      color: $secondaryColor;
      text-decoration: none;
      padding: 0.5rem;
      text-transform: uppercase;

      &:hover {
        background-color: $secondaryColor;
        color: $cardNavBgColor;
        border-radius: 5px;
      }
    }
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
