*{
    margin: 0;
    padding: 0;
}

.contanier{
    display: grid;
    grid-template-columns: 200px 500px 200px 100px;
    grid-template-rows: 100px 400px;

}

.content {
    border: 1px solid;
    background-color: skyblue;
}

.content6 {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    overflow: auto;
}

.content3 {
    background-image: url(https://picsum.photos/200/300?grayscale);
    background-size: cover;
    font-size: 2rem;
    color: wheat;
    text-align: center;
    
}