
/* harici siteden alınan teşekkür */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/* eklentiden gelen teşekkür */
@import url(https://fonts.googleapis.com/css?family=Ephesis:regular);

@import url(https://fonts.googleapis.com/css?family=Hind+Mysuru:300,regular,500,600,700);

.font1{
  font-family: "Ephesis", cursive;

 
  font-weight: 900;
  font-size:30px
}

.font2{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size:30px 
}

.font3{
font-family:"Hind Mysuru";
font-weight:400;
font-style:italic;

}