*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: blue;
    
}

.center p span{
    color: red;
}

#par{
    color: aqua;
}


/* ********** */
/*Bu yazim center cocuk ve torunu olan p leri etkiler */
.center p{
    color: coral;
}

/* bu yazim center in sadece cocugu olan p leri etkiler ama cok tercih edilmiyor*/
.center > p {
    background-color: yellow;
}

/* bu yazim secici class isimli den sonraki tum a lari etkiler */
.secici ~ a{
    background-color: orange;
}

/* bu yazim secici class isimli divden sonraki ilk a */
.secici + a{
    background-color: pink;
}