p {
  height: 10vh;
}

.header1 {
  background-image: linear-gradient(yellow, green);
}
.header2 {
  background-image: linear-gradient(
    rgb(241, 241, 29),
    rgb(37, 187, 37),
    rgb(126, 18, 126)
  );
}

.header3 {
  background-image: linear-gradient(
    to right,
    rgb(241, 241, 29),
    rgb(37, 187, 37),
    rgb(126, 18, 126)
  );
}
/* to right soldan sağa doğru git */

.header4 {
  background-image: linear-gradient(45deg, yellow, green);
}

/* linear-gradient=> yukarıdan aşağıya yapar, radial-gradient=> daire şeklinde */
.header5 {
  background-image: radial-gradient(
    yellow 50%,
    rgb(37, 187, 37),
    rgb(126, 18, 126)
  );
}

.header6 {
  /* tekrarlı renk geçişi */

  background-image: repeating-radial-gradient(yellow, green 15%, blue 20%);
  /* height:30vh; */
}

.header7 {
  background-image: linear-gradient(
    to right,
    #7622da 11%,
    #47c6eb 11%,
    #47c6eb 29%,
    #ed5f1f 29%,
    #ed5f1f 60%,
    #f59f28 60%,
    #f59f28 70%,
    #6b1e5b 70%,
    #6b1e5b 88%,
    #45b794 88%,
    #45b794 100%
  );
}
/* sağdan mor la başla %11 e kadar git, %11 den %29 a kadar mavi ol.... */
