//*****************************************************
//*   PROJECT PAGE
//*****************************************************

@use "../abstracts/mixins";
@use "../abstracts/variables";

.project-bgImg-container {
  @include mixins.bgResim(40vh, variables.$pathname6);

  .projects__bio-image {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}

.projects {
  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 1rem 0;
    // border:1px solid red;
  }

  &__item {
    // border:2px solid blue;
    width: 100%;
    border-bottom: 5px solid variables.$secondary-color;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;

      background-color: variables.$secondary-color;

      // display: block;

      position: absolute;
      right: 0;
    //   left:0;
      top: 0;
      opacity: 0;
    }

    &:hover::after{
        opacity:0.7;
    }
  }
}
