*{
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.container{
    background-color: orange;
    /* margin: 30px; */
     width: 450px;
    height: 380px;
}

.box1{
    background-color: rgba(255, 0, 255, 0.8);
    width: 150px;
    height: 150px;
}

.box2{
    background-color: rgba(255, 255, 0, 0.58);
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    margin-top: -40px;
    border: 2px solid red;
}

.box3{
    background-color: rgba(0, 0, 255, 0.5);
    width: 150px;
    height: 150px;
    margin-top: -30px;
}