/* dotted- Noktalı bir kenarlık tanımlar
dashed- Kesikli bir kenarlık tanımlar
solid- Tek, düz, düz bir çizgi görüntüler.
double- Çift kenarlık tanımlar
groove- Oyulmuş bir görünüme sahip bir kenarlık görüntüler. ridge nin tam tersidir
ridge- Dışa itilmiş görünüme sahip bir kenarlık görüntüler
inset- Öğenin gömülü görünmesini sağlayan bir kenarlık görüntüler.outset in tam tersidir 
outset- Öğenin kabartmalı görünmesini sağlayan bir kenarlık görüntüler.
none- Sınır tanımlamaz
hidden- Gizli bir sınır tanımlar */

.container{
    margin:1rem;
}

.msg{
    display:inline-block;
    margin:1rem;

}


.msg1{
    border:3px solid red;
    padding:1rem;
}

.msg2{
    border:3px dashed blue;
}

.msg3{

    border-right:3px dotted red;
    border-left:3px solid blue;
}

.msg4{
border:19px outset rgb(166, 25, 25);

}

.msg5{
    border:19px inset red;

    padding: 1rem;
    background-color: orange;

    border-radius: 5px;

    border-radius:50px 0 3px 0;
    border-radius:50px 0 ;
}

.msg6{

    border: 20px groove salmon;
    outline:15px groove cyan;

    outline-offset:10px;
}

.msg7{

    border:3px solid rgb(212, 26, 26);
    background-color: rgb(200, 15, 200);
    width:3.5rem;
    height:3.5rem;

    padding:2rem;

    border-radius:50%;
}

.seffaf{

background-image:url("./img/monalisa.jpeg");

border:70px solid rgba(231, 26, 26, 0.258);

outline:20px solid rgba(255, 0, 0, 0.454);
}




/*! border outline farkları */
/* 1)border, border-radius özelliği ile yuvarlatılmış köşeleri destekler  outline yapmaz. */
/* 2)border la istersek Yalnızca bir tarafı şekillendirme vardır, outline da yok */
/* 3)outline,  -offset özelliğiyle offset'i (border ve outline arası boşluk) destekler  */
/* 4)border, kutu modelinin bir parçasıdır, bu nedenle öğenin boyutuna göre sayılır, büyüdükçe komşusunu iter. outline, kutu modelinin bir parçası olmadığı için yakındaki öğeleri etkilemez, üstüne çıkar. öğenin border ının dışına çizilir ve diğer içerikle örtüşebilir.*/