h1 {
  color: red;
  text-align: center;
}

#par1 {
  color: blue;

  text-align: center;

  font-size: 20px;

  text-shadow: 5px 10px 5px red;

  column-count: 3;

  column-rule: 3px solid red;
  /* 3 parçaya ayır aradaki çizgiler 3px olsun */
}
#par2 {
  text-align: right;
}

#par3 {
  text-align: justify;
  background-color: rgb(195, 175, 175);
  color: yellow;
  padding: 10px;

  box-shadow: 5px 5px 10px black;

  text-indent: 50px;
  /* paragraf başı boşluğu */
}

#par4 {
  color: green;
  text-transform: uppercase;
  /* text-transform:lowercase; */
  letter-spacing: 3px; /* harflerarası */

  word-spacing: 10px;

  line-height: 1.5;
}

#par5 {
  text-decoration: line-through;
  text-decoration: underline;
  text-decoration: overline;
  /* line-through=yazının üstünü çizmek,underline=altını, overline=üst tarafını */

  /* dashed=kesik çizgi,dotted=nokta nokta, double=iki çizgi,wavy=dalga  */
  text-decoration-style: dashed;
  text-decoration-style: dotted;
  text-decoration-style: double;
  text-decoration-style: wavy;

  text-decoration: underline;
  text-decoration: overline wavy red;
}

#par6 {
  text-transform: capitalize;

  direction: rtl;
  unicode-bidi: bidi-override;
  /* üstteki iki kod paragrafı sağa yapıştırıp her satırı ters çevirdi */
}
