//*****************************************************
//*   FOOTER
//*****************************************************
@use "../abstracts/variables";

.horizontal{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items:flex-end;
    
    a{
        padding: 0.4rem;

        &:hover{
            color: variables.$secondary-color;
        }
    }

}

footer.vertical{
   
    @extend .horizontal;

    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        left: 1rem;   
    }

    .copyright{
        position: fixed;
        bottom: 1rem;
        right: 1rem; 
         writing-mode: vertical-rl;
        // transform: rotate(90deg);
    }
}

footer.middle{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;

    a{
        padding: 0.4rem;
    }
}
