//*****************************************************
//*   NAV
//*****************************************************
@use '../abstracts/variables';

.nav{
    // border: 1px solid red;
    height: 10vh;
    padding: 1rem;

    &__list{
        text-align: right;
        list-style-type: none;
    }

    &__item{
       display: inline;
       padding: 1rem;
     }
     &__link{
        text-transform: uppercase;
        font-size: 1.3rem;
        font-family: variables.$font-family;
        font-weight: 500;
        &:hover{
            color: gray
     }

     &--active{
        color: variables.$secondary-color;}
    }
}
