//*****************************************************
//*   MIXINS
//*****************************************************

@use "../abstracts/variables";
@mixin bgResim($olcu,$resim){
    height: $olcu;
    width: 100%;
    background: linear-gradient(to right, rgba(variables.$primary-color,0.9), rgba(variables.$primary-color,0.3)),url($resim);


    background-size: cover;
    background-position: center;
    
}

@mixin ekran-xs{

    @media screen and (min-width: 0px) {
  @content;
}
}


@mixin ekran-sm {
    @media screen and (min-width: 576px) {
  @content;
}
}


@mixin ekran-md {
    @media screen and (min-width: 768px) {
  @content;
}
}

@mixin ekran-lg{
    @media screen and (min-width: 1024px) {
  @content;
}
}

