*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


nav{
    border:1px solid red;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

nav .left, nav .right{
    height: 7vh;
}


.left{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow:1;
    flex-basis:20%; */
    flex:1 20%;
}

.middle{

    background-color: gray;

    display: flex;
flex-wrap:wrap;
    min-height: 10vh;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:5px 5px 10px black;
    gap:1rem;
  /* flex-grow:1;
  flex-basis:30%; */
  flex:1 30%;
  z-index:3;
}

.middle a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.right{
    background-color: gainsboro;

    display: flex;
    justify-content:space-evenly ;
    align-items: center;
      /* flex-grow:1;
      flex-basis:50%; */
      flex:1 50%;
}


.right a{
    color:rgb(196, 1, 1);
    font-size:2rem;
}
.left img{
    width:60px;

}

.img img {
    width:100%
}



main{
    border:10px solid black;
    background-color: bisque;
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
    width: 80%;
    margin: auto;
    margin-top:20px;
}

.img{
background-color: olive;

flex:1 30%;
}

.text{
    background-color: orange;
    display: flex;

    flex-direction: column;

    align-items: center;
    /* justify-content: center; */

    flex:2 30%;
/* küçükken varoldukları div in yüzde 30 unu kaplasınlar, büyüme oranları img nin 1 kat, text in 2 kat olsun */

}