*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    padding:2rem;

}

ol{
background-color: teal;
list-style-type: none;
padding: 1rem 0;
height: 200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap:5px;
}

ol li{
    background-color: fuchsia;
    padding: 0.5rem;
    border-radius: 5px;

}

.first{
order:2;
}

.second{
order:3;

}
.third{
order:1;
}

ol:hover .first{order:1}
ol:hover .second{order:2}
ol:hover .third{order:3}

/* 5 eleman varken 3 ünün yerini değiştirmek istersem, konum verilmeyen ikisi başa geçer, konum verilenler, verdiğim şekilde yer değiştirir */


.container{

    background-color: orange;

    padding:1rem;

display: flex;
flex-wrap:wrap;
}


.container .box1{

    background-color: blue;
/* flex-grow:1;
flex-basis:100px; */
flex:1 100px;
}

.container .box2{

    background-color: yellow;
    /* flex-grow:3;
    flex-basis:150px; */
    flex:3 150px;
}
.container .box3{

    background-color: magenta;
    /* flex-grow:1;
    flex-basis:200px; */
    flex:1 200px;
}



.container1{

    background-color: bisque;
    margin-top: 50px;
gap:1rem;
text-align: center;
    padding:1rem;
    display: flex;
    flex-wrap: wrap;
    color:yellow;
}


.container1 *{
    background-color: crimson;
    margin-bottom: 0.5rem;
    padding: 1rem;
}
.container1 header{
    flex:1 100%;
}

.container1 footer{
    flex:1 100%;
}
.container1 .left{
flex:1 ;
}

.container1 .right{
   flex:1 ; 
}


.container1 main{
    flex:4 ;
}

.container2{

    background-color: olive;
    padding: 1rem;
    display: flex;

    gap:1rem;
    flex-wrap:wrap;

}
.container2 *{

    /* background-color: orange; */
    padding: 1rem;
}

.container2 header{

    width: 100%;
    text-align: center;
    background-color: orange;
}
.container2 footer{

    width: 100%;
    text-align: center;
    background-color: orange;
}

.container2 main{

    background-image: url("https://picsum.photos/id/237/600/400");

    background-size: cover;

background-position: top;
height: 100px;

width: 50%;
display: flex;
justify-content: center;
align-items: center;

}
.container2 aside{

    background-color: teal;

    width: 22%;
display: flex;
justify-content: center;
align-items: center;

}
.container2 main a{

text-decoration: none;
background-color: rgba(184, 135, 11, 0.371);
color:white
}