body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{

    font-size:2rem;
    padding: 1rem;
    letter-spacing: 1rem;
}

h1{
    color:red;
    text-align: center;
    text-shadow: 14px 15px gray;
}

.text1{

    text-shadow: 4px 5px 3px red;
    /* sağa aşağı bulanık renk */
}

.text2{

    text-shadow:-4px -5px 3px rgba(191, 173, 173, 0.715) ;
}
.text3{

    text-shadow:0px 5px gray,
     0px 10px 3px purple, 
     0px 20px 2px pink ;
}

.text4{

    background-color: rgb(7, 128, 7);

    color: white;


    text-shadow: 5px 10px 2px red, -5px -10px 2px red;
}


.box{

width: 15vw;
height: 15vh;
background-color: crimson;
margin:2rem;
display: inline-block;
}


.box1{

 box-shadow:   2px 2px 10px blue;
}

.box2{

    box-shadow:-10px 15px 20px 20px blue;
    /* offset-x | offset-y | blur-radius | spread-radius(yayılmış,büyümüş) | color */
}

.box3{
    box-shadow:10px -10px 32px green, -10px 10px gray ;
}