//abstract
@use './abstracts/mixins';
@use './abstracts/variables';
//base
@use './base/reset';
//pages
@use './pages/about';
@use './pages/contact';
@use './pages/home';
@use './pages/projects';
//components
@use './components/footer';
@use './components/nav';
@use './components/responsive';


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

body{

    font-family: variables.$font-family;
    background-color: variables.$primary-color;
    height: 100vh;
    line-height: 1;
    color: variables.$text-color;
}

a{  text-decoration: none;
    color: variables.$text-color;
}

h1,h2,h3{
    font-weight: 400;
}