@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Bowlby+One:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/960px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg);
background-repeat: no-repeat;

background-size: cover; */

background-image: url(./img/background_image\ \(1\).jpg);

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /* background-position:center center;
background-position:top right ;
background-position:bottom right ; */
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);

  max-width: 1240px;
  margin: auto;
  /* sağdan soldan ortala */
  margin-top: 30px;
}

header {
  text-align: center;
}
#title {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
span {
  color: red;
}

.description {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 700;
}
.survey_form {
  background-color: rgba(0, 0, 0, 0.802);

  width: 500px;

  margin: auto;
  padding: 30px 40px;
}

#name,#age,#email,#content,#feedback{

width: 100%;
padding:10px;
margin-top:16px;

}


.input-box{

    margin-top:20px;
}
textarea{

    resize:none;
    /* textarea nın defaultta sağ alttan asılıp alanı büyütme özelliğ var, bunu iptal ettik */

    height:92px;
}

.form-submit{

    text-align: center;
    margin-top:16px;
}

button{


    width: 160px;
    height:45px;
    border-radius: 50px;
    background-color: red;
    border:none;

    color:white;
    font-family:Arial, Helvetica, sans-serif;
}


button:hover{
    color:red;
    background-color: white;
 
}