@import '../../scss/variable';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;

    & .card{
        max-width: 400px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
        border-radius: 5px;

        img {
            width: 80%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: 10px;
        }
        h1{
            color: $turuncu;

        }
        
        h2{
            color: $lightGreen;
            
        }
        p{
            color: $kirmizi;
        }
    }
}