/*! üstteki stiller  en büyük ekranlarda kullanılsın. ta ki 992px e kadar (tablete kadar). 992px den aşağıda (tablette) alttaki stiller kullanılmaya başlansın */
@media screen and (max-width:922px) {
    body {
        background-color: rgb(163, 47, 47);
        color: rgb(248, 70, 5);
    }

    .row {
        & .col {
            width: 50%;
            margin: 1rem 0;
        }
    }
}

/*! 576px e kadar üstteki stiller kullanılsın (ilk baştakiler ve tablet koduyla ezilenler varsa onlar)  576px ve altında bir alttaki stiller kullanılsın*/

@media screen and (max-width:576px) {
    body {
        background-color: rgb(184, 118, 52);
        padding: 10px;
    }

    .header {
        display: none;
    }

    .row {
        & .col {
            color: black;
            width: 100%;
            margin: 0.5rem 0;
        }
    }

    .navbar {
        & a {
            display: block;
            text-align: center;
        }
    }

    h1{
        font-size: 20px;
        width: 100%;
    }
}