/* @import './mediaquery.css'; */
@import './variable.css';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-asimovian);
    font-weight: 500;

}

body {
    background-color: var(--color-bg);
    color: azure;
}

h1 {
    background-color: var(--color-primary);
    border: 2px solid var(--color-sky-blue);
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0px;
    font-size: var(--fs-xl)
}

.header {
    background-color: var(--color-sky-blue);
    padding: 20px;
    margin: 20px 0;
}

.navbar {
    background-color: gray;
    text-align: end;
    padding-right: 10px;
    padding: 5px;

    /* nestes css */
    & a {
        color: aqua;
        text-decoration: none;
        padding: 2px;
    }

    & a:hover {
        color: rgb(0, 255, 64);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    & .col {
        padding: 20px;
    }

    & .col-a {
        background-color: rgb(202, 202, 202);
        width: 35%
    }

    & .col-b {
        background-color: rgb(136, 135, 135);
        width: 20%
    }

    & .col-c {
        background-color: rgb(161, 153, 153);
        width: 30%
    }

    & .col-d {
        background-color: rgb(156, 137, 137);
        width: 15%
    }
}


/*! üstteki stiller  en büyük ekranlarda kullanılsın. ta ki 992px e kadar (tablete kadar). 992px den aşağıda (tablette) alttaki stiller kullanılmaya başlansın */
@media screen and (max-width:922px) {
    body {
        background-color: var(--color-sky-blue);
        color: rgb(248, 70, 5);
    }

    .row {
        & .col {
            width: 50%;
            margin: 1rem 0;
        }
    }
}

/*! 576px e kadar üstteki stiller kullanılsın (ilk baştakiler ve tablet koduyla ezilenler varsa onlar)  576px ve altında bir alttaki stiller kullanılsın*/

@media screen and (max-width:576px) {
    body {
        background-color: rgb(184, 118, 52);
        padding: 10px;
    }

    .header {
        display: none;
    }

    .row {
        & .col {
            color: black;
            width: 100%;
            margin: 0.5rem 0;
        }
    }

    .navbar {
        & a {
            display: block;
            text-align: center;
        }
    }

    h1 {
        font-size: var(--fs-md);
        width: 100%;
    }
}