
header, main, aside, article,footer{

    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}


header{
    background-color: seagreen;
    margin-top: 10px;
}

main{
    background-color: skyblue;
    height: 310px;
    padding: 10px;
}

aside{

    background-color: orange;
    width: 25%;
   height: 300px;
   margin-left: 5px;
   float:left;
}

article{
    background-color: greenyellow;
     width: 70%;
     height: 300px;
     float: left;
}

footer{
    background-color: crimson;
}